/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  #page-graffiti{
    .grid-item { width: 100%; }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  #page-graffiti{
    .grid-item { width: 50%; }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  #page-graffiti{
    .grid-item { width: 33%; }
  }
}