* {
  box-sizing: border-box;
}

.clear {
  clear: both;
  float: none;
  width: 100%;
}

.gallery {
  width: 100%;
  height: auto;

  a {
    display: block;
    height: auto;

    img {
      width: auto;
      height: auto;
      filter: grayscale(100%);
      border: 2px solid #fff;
      @include transition(.50s);
      position: relative;

      &:hover {
        filter: grayscale(0%);
      }
    }
  }
}

.sl-counter {
  display: none;
}

.grid-item {
  display: inline-block;
}

@media (max-width: $screen-sm-min) {
  .grid-item {
    width: 100%;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .grid-item {
    width: 50%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .grid-item {
    width: 20%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .grid-item {
    width: calc(100%/6);
  }
}