.site-header {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  background-color: $branco;

  @extend .trans;
}

.site-header--fixed {
  position: fixed;
  width: 100%;
  top: 0;
}

.navigation-top {
  border-bottom: 2px solid $preto  !important;
}

.navbar-brand {
  a {
    display: block;
    overflow: hidden;

    img {
      display: block;
      height: 60px !important;
      padding-bottom: 2px;
    }
  }
}

.dropdown-toggle {
  &:after {
    margin-left: 0;
    border-top: .2em solid;
    border-right: .2em solid transparent;
    border-left: .2em solid transparent;
  }
}

.scroll-to-bottom {
  @extend .trans;

  &:hover {
    opacity: 0.7;
  }
}

.full-top-bar {
  background-color: $preto-bufento;
  width: 100%;

  .list-social-icons {
    padding: 0;
    margin-bottom: 0;

    li {
      margin: 0 !important;

      a {
        display: block;

        &:hover {
          i {
            background-color: $cinza74;
          }
        }

        i {
          background-color: $cinza-full-bar;
          padding: 6px;
          color: $branco;
          @extend .trans;
          font-size: 16px;
        }
      }

      &:nth-child(1) {
        a {
          i {
            padding: 6px 9px !important;
          }
        }
      }

      &:nth-child(2) {
        a {
          i {
            padding: 6px 7px 7px 8px !important;
          }
        }
      }

      &:nth-child(3) {
        a {
          i {
            padding: 8px 7px 7px !important;
            font-size: 14px !important;
          }
        }
      }
    }
  }
}

#menu-menu-header {
  margin-top: 0;
  text-transform: uppercase;

  li {
    margin: 0 0 0 20px;
    text-align: center;

    .dropdown-menu {
      margin-top: 15px;
      padding: 0;
      border-radius: 0 !important;
      min-width: 250px;

      li {
        margin: 0;
      }

      a {
        padding: 15px 0 15px 0;

        &:hover {
          background-color: $preto;
          color: $dourado  !important;
        }
      }
    }

    &.active {
      a {
        color: $dourado  !important;
        text-decoration: line-through;
      }
    }

    a {
      @extend .trans;
      font-family: $title-menu;
      font-weight: 400;
      position: relative;

      &:hover {
        color: $dourado;
        text-decoration: line-through;
      }
    }
  }
}

.fixed-nav {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 100;
  background-color: $branco;
  opacity: 0.9;
  margin-bottom: 108px !important;
}

.fixed-nav,
.full-top-bar {
  @extend .trans;
}

.logo-maior {
  filter: invert(100%);
  height: auto;
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.navbar-toggler {
  text-align: center;
  margin: 0 auto;

  &:after {
    content: 'MENU';
    display: inline-block;
  }
}

.dropdown-menu {
  background-color: $preto;
  @extend .trans50;

  li {
    a {
      background-color: $preto;
    }

  }
}

#masthead {
  nav {
    font-family: $font-dosis;
    padding-top: 3px;
    margin: 12px 0 0;
  }
}

@media (max-width: $screen-xs-max) {
  #home-quem-sou {
    margin-top: 0 !important;
  }

  #masthead {
    nav {
      display: block;
      text-align: center;
      margin: 0 auto;
    }
  }

  .navbar-brand {
    a {
      img {
        max-width: 80%;
        margin: 0;
      }
    }
  }

  .navbar-light {
    .navbar-toggler {
      text-align: center;
      display: block;
      position: relative;
      margin-top: 0;
    }
  }

  #menu-menu-header {
    background-color: $preto;

    li {
      a {
        color: $branco;
      }
    }
  }
}

@media (min-width: $screen-xs-min) {
  
}

@media (min-width: $screen-sm-min) {
  .menu-desktop {
    height: auto !important;
    padding-top: 0 !important;
  }

  .site-header {
    height: auto !important;
  }

  #masthead nav {
    display: block;
    text-align: right;
    float: right;
    margin: 12px 0 0;
    right: 0 !important;
  }

  #menu-menu-header {
    background-color: $branco;
  }

  #menu-menu-header li .dropdown-menu {
    background-color: $branco  !important;
  }

  #menu-menu-header li .dropdown-menu li a {
    background-color: $branco  !important;
  }

  #masthead {
    nav {
      display: block;
      text-align: center;
      float: none;
      margin: 12px auto;
    }
  }

  .navbar-brand {
    display: block;

    a {
      text-align: center;

      img {
        width: 100%;
        max-width: 320px;
        margin: 0;
        display: block;
      }
    }
  }

  .navbar-light {
    .navbar-toggler {
      text-align: center;
      display: block;
      position: relative;
      margin-top: 0;
    }
  }

  #menu-menu-header {
    width: 100%;
    background-color: $preto;

    li {
      a {
        color: $branco;
      }
    }
  }

  #midias-videos-home {
    .effect-bubba {
      width: 100%;
      height: 60px;
    }
  }
}

@media (min-width: $screen-md-min) {
  #masthead {
    nav {
      display: block;
      text-align: right;
      float: right;
      margin: 12px 0 0;
      right: 0 !important;
    }
  }

  .navbar-toggler {
    display: none !important;
  }

  #menu-menu-header {
    background-color: $branco;

    li {
      a {
        color: $preto  !important;
        font-size: 1.2em;

        &:hover {
          color: $dourado  !important;
        }
      }

      .dropdown-menu {
        background-color: $branco;

        li {
          a {
            background-color: $branco;
          }
        }
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  .navbar-brand {
    display: block;

    a {
      text-align: center;

      img {
        max-width: 275px;
        margin: 5px 0 0;
        display: block;
      }
    }
  }

  .nav-link {
    font-size: 1.2em;

    &:hover {
      color: $dourado;
    }
  }
}

.dropdown-menu {
  @extend .trans50;
}
