.menu-bars-fullscreen {
  position: fixed;
  right: 0;
  z-index: 99;

  &.clicked {
    z-index: 9999;

    .menu {
      .hamburger {
        background: $branco;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);

        &::before {
          top: 0;
        }

        &:after {
          bottom: 0;
        }

        &:before,
        &:after {
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          background: $branco;
        }
      }
    }

    .menu-fullscreen {
      opacity: 1;
      background-color: #fff;
    }
  }

  .menu {
    position: absolute;
    right: -100px;
    z-index: 100;
    width: 200px;
    height: 150px;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .3s ease-in-out;
    cursor: pointer;
  }

  .hamburger {
    position: absolute;
    left: 50px;
    width: 30px;
    height: 1px;
    background: #000000;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

    &:after,
    &:before {
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: #000;
    }

    &:before {
      top: -10px;
    }

    &:after {
      bottom: -10px;
    }
  }
}

.menu-fullscreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  padding-top: 20%;
  top: 0;
  left: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
  opacity: 0;
  z-index: 999;

  li {
    height: 11vh;

    a {
      margin-bottom: 4em;
      display: block;
      color: $preto;
      text-decoration: none;
      font-size: 2em;
    }
  }
}

.list-social-icons {
  text-align: center;
  background-color: #fff;
  margin: 20px auto 0;

  li {
    &:nth-child(2) {
      margin: 0 34px 0 41px;
    }
  }

  a {
    color: #000;
    font-size: 1.6em;
    transition: .3s;
  }
}

.list-top-social-icons {
  li {
    &:hover {
      opacity: 0.7;
    }

    a {
      color: #fff;
      transition: .3s;

      &:hover {
        color: #123123;
      }
    }
  }
}

.list-social-icons-mobile i {
  font-size: 1.4em;
  opacity: 0.7;
}

.list-social-icons-mobile li a:hover i {
  color: #dcad54;
  opacity: 1;
}


.menu-full-custom {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background: black;
  transition-duration: .5s;
  backface-visibility: none;
  position: relative;
  display: none;

  @extend .trans;

  ul {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 15%;
    text-align: center;
    list-style: none;

    li {
      padding: 10px;

      a {
        display: block;
        padding: 10px 0;
        transition-duration: .6s;
        font-size: 2rem;
        color: white;
        text-decoration: none;
        font-family: $font-title;

        &:hover {
          cursor: pointer;
          color: $cor-preferida;
        }
      }
    }
  }

  &.open {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  .menu-bars-fullscreen {
    z-index: 999;
  }
}

@media (min-width: $screen-xs-min) {
  .navbar-brand {
    max-width: 245px;
  }

  .menu-bars-fullscreen {
    .menu {
      top: -32px;
    }

    &.clicked {
      .menu {
        top: 42px;
        position: fixed;
      }
    }
  }
}

@media (min-width: $screen-xs-max) {
  .menu-bars-fullscreen {
    .menu {
      top: 32px;
    }
  }
}

@media (min-width: $screen-sm-min) {}

@media (min-width: $screen-md-min) {}

@media (min-width: $screen-lg-min) {}