@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
}

@mixin zoom($scale){
  -moz-transform: scale($scale);
  -webkit-transform: scale($scale);
  -o-transform: scale($scale);
  transform: scale($scale);
  -ms-transform: scale($scale);
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
          M11=2, M12=-0, M21=0, M22=2);
}

@mixin transitionEase($timeInSeconds){
  -webkit-transition: -webkit-transform $timeInSeconds ease;
  -moz-transition: -moz-transform $timeInSeconds ease;
  -o-transition: -o-transform $timeInSeconds ease;
  -ms-transition: -ms-transform $timeInSeconds ease;
  transition: transform $timeInSeconds ease;
}
@mixin linearGradient($top, $bottom){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin filter($filter-type,$filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}

//centralizar
@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}


@mixin transition($duration) {
  -webkit-transition: $duration ease-in-out;
  -moz-transition: $duration ease-in-out;
  -o-transition: $duration ease-in-out;
  transition: $duration ease-in-out;
}

@mixin transition-ease($duration){
  -webkit-transition: all $duration ease;
  -moz-transition: all $duration ease;
  -o-transition: all $duration ease;
  transition: all $duration ease;
}

@mixin transform($duration){
  -moz-transform: scale($duration);
  -webkit-transform: scale($duration);
  -o-transform: scale($duration);
  transform: scale($duration);
}

@mixin transformRotate($deg){
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin border-radius($radius){
  -webkit-border-radius: $radius !important;
  -moz-border-radius: $radius !important;
  border-radius: $radius !important;
}

@mixin rotate($deg){
  -ms-transform: rotate($deg); /* IE 9 */
  -webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
  transform: rotate($deg);
}

.trans {
  @include transition(.25s);
}

.trans50{
  @include transition(.50s);
}